<ons-page ng-controller="top">
  <div class="topTitle">
      <div class="title">
      <!--
        マッチ
        <ons-icon icon="ion-heart" style="color:#ff7fff;"></ons-icon>
        -->
      </div>
  </div>
  <div class="topForm">
        </ons-icon><ons-button modifier="large" ng-click="start()"><ons-icon icon="ion-ios-heart" class="icon" fixed-width="false">
        </ons-icon>&nbsp;&nbsp;開始</ons-button>
        <br />
        <ons-button modifier="large" ng-click="settings()"><ons-icon icon="ion-wrench" class="icon" fixed-width="false">
        </ons-icon>&nbsp;&nbsp;設定</ons-button>
  </div>
</ons-page>